**/data/
**/datasets/
**/*.csv
**/*.xlsx
**/*.json
**/*.parquet

**/models/
**/*.pth
**/*.pt
**/*.h5
**/*.keras
**/*.pkl
**/*.pkl.z
**/*.joblib

**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.pytest_cache/
**/.ipynb_checkpoints/

**/.env
**/.env.local
**/.venv/
**/env/
**/venv/
**/ENV/

.DS_Store
.AppleDouble
.LSOverride

**/*.egg-info/
